<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated relationalMM -->
      <package
            uri="http://www.example.org/relationalschema"
            class="relationalschema.RelationalschemaPackage"
            genModel="metamodels/relationalMM.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated uschemaMM -->
      <package
            uri="http://www.modelum.es/uschema"
            class="uschema.UschemaPackage"
            genModel="metamodels/uschemaMM.genmodel"/>
   </extension>

</plugin>
